.mainWrapper {
  margin-top: 1rem;
}

.inputInfoWrapper {
  display: flex;
  flex-direction: column;
}

.inputInfoWrapper button {
  background-color: #539cff;
  color: white;
  border: 0;
  border-radius: 4px;
  width: 200px;
  height: 30px;
  margin-top: 10px;
}

.sumWrapper {
  display: flex;
  align-items: center;
}

.output {
  margin-top: 1rem;
  font-size: 10px;
  border: 1px solid white;
  border-radius: 4px;
  padding: 0.5rem;
  line-height: 20px;
}
