.photoWrapper {
  background-repeat: no-repeat;
}
.screenWrapper {
  border: 0.3px solid rgba(130, 130, 130, 0.5);
  border-radius: 16px;
  margin: 0 auto;
  width: 100%;
}
.newYellow {
  background-color: #fed74b;
  position: relative;
  top: 2rem;
  font-size: 12px;
  padding: 0.4rem 0;
}
.newPurple {
  color: white;
  background-color: #7553ff;
  font-size: 14px;
  padding: 0.6rem 0;
  border-radius: 15px 0 15px 0;
}
.newYellow,
.newPurple {
  text-align: center;
  font-weight: 400;
  line-height: 20px;
}
.formWrapper {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
.flagWrapper p {
  margin-left: 1rem;
  color: #4b4b4b;
  font-size: 14px;
}
.flagWrapper {
  margin-top: 0.5rem;
}
.clockWrapper,
.pricesWrapper,
.flagWrapper {
  display: flex;
  align-items: center;
}
.timesWrapper {
  padding-left: 2rem;
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 4rem);
  grid-auto-flow: row;
  grid-gap: 0.5rem;
}
.raceTime,
.moreTime {
  font-size: 14px;
  color: #343434;
  background-color: #d9e8ff;
  border-radius: 11px;
  text-align: center;
  padding: 0.1rem 0;
  cursor: pointer;
}
.moreTime:active,
.raceTime:active {
  color: white;
  background-color: #6ba6ff;
}
.moreTime:hover {
  color: #343434;
}
.time {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #9e9e9e;
  margin-left: 0.5rem;
}
.sale {
  color: #404040;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  margin-top: 0.5rem;
}
.pricesWrapper {
  margin-top: 2rem;
}
.more,
.flagWrapper p,
.raceTime,
.price1200,
.price900,
.moreTime {
  line-height: 20px;
  font-weight: 400;
}
.price900 {
  color: #000000;
  font-size: 30px;
  line-height: 25px;
}
.price1200 {
  color: #000000;
  font-size: 10px;
  justify-self: end;
  line-height: 18px;
}
.more {
  border-radius: 20px;
  border: #cba500 solid 0.5px;
  background-color: #fed74b;
  font-size: 14px;
  color: #404040;
  margin-left: 2.7rem;
  padding: 0.5rem 4rem;
}
.pricesWrapper div {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 320px) and (max-width: 1070px) {
  .photoWrapper {
    min-height: 220px;
    background-image: url("../../Images/TicketWrapper/spb.png") !important;
  }
  .screenWrapper {
    padding: 1rem;
    max-width: 340px;
  }
  .newYellow,
  .newPurple {
    width: 7.5rem;
  }
  .more {
    padding: 0.5rem 2rem;
  }
}
@media screen and (min-width: 1070px) {
  .photoWrapper {
    min-width: 370px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .screenWrapper {
    display: flex;
    max-width: 50rem;
  }
  .formWrapper {
    padding: 1rem;
  }

  .newYellow,
  .newPurple {
    width: 25%;
  }
  .newPurple {
    display: none;
  }
  .titleWrapper {
    display: flex;
    flex-direction: column-reverse;
  }
}
