@media screen and (min-width: 320px) and (max-width: 768px) {
  .photoWrapper {
    min-height: 220px;
  }
  .screenWrapper {
    padding: 1rem;
    border: 0.3px solid rgba(130, 130, 130, 0.5);
    border-radius: 16px;
    max-width: 340px;
    width: 100%;
    margin: 0 auto;
  }
  .photoWrapper p {
    background-color: #fed74b;
    position: relative;
    top: 2rem;
    width: 6rem;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    padding: 0.5rem 0;
    opacity: 0.8;
  }
  .formWrapper {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
  }
  .flagWrapper p {
    margin-left: 1rem;
    color: #4b4b4b;
    font-size: 14px;
  }
  .flagWrapper {
    margin-top: 0.5rem;
  }
  .pricesWrapper,
  .flagWrapper,
  .clockWrapper,
  .timesWrapper {
    display: flex;
    align-items: center;
  }
  .time {
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    color: #9e9e9e;
    margin-left: 0.5rem;
  }
  .sale {
    color: #404040;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    margin-top: 0.5rem;
  }
  .raceTime {
    font-size: 14px;
    color: #343434;
    background-color: #d9e8ff;
    border-radius: 11px;
    min-width: 3.5rem;
    text-align: center;
    margin-top: 0.5rem;
  }
  .raceTime:first-of-type {
    margin-left: 2rem;
  }
  .raceTime:not(:first-of-type) {
    margin-left: 0.5rem;
  }
  .pricesWrapper {
    margin-top: 2rem;
  }
  .price900 {
    color: #000000;
    font-size: 30px;
  }
  .more,
  .flagWrapper p,
  .raceTime,
  .price1200,
  .price900 {
    line-height: 20px;
    font-weight: 400;
  }
  .price1200 {
    color: #000000;
    font-size: 10px;
  }
  .more {
    border-radius: 20px;
    border: #cba500 solid 0.5px;
    background-color: #fed74b;
    font-size: 14px;
    color: #404040;
    margin-left: 2.5rem;
    padding: 0.5rem 1.5rem;
  }
  .pricesWrapper div {
    margin-left: 2rem;
  }
}
